.admin-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
}

.dashboard-header {
  background-color: #0056B3; /* Pinkish for header */
  color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #FFB703; /* Yellowish accent */
}

.dashboard-content {
  display: flex;
  flex: 1;
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 100px;
  background-color: #ffffff; 
  border-radius: 15px; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 

.crud-form {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #f8f8f8; 
  padding: 20px;
  border-radius: 15px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px;
  color: white;
}

.form-group label {
  color: #0056B3; 
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 8px; 
}

.records-list {
  margin-top: 20px;
}

.record-item {
  background-color: #cfcece; 
  display: flex;
  gap: 20px;
  color: #333333;
  padding: 15px;
  border-radius: 12px; 
  margin-bottom: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
}

.record-image {
  max-width: 100px;
  max-height: 100px;
  display: block;
  border-radius: 8px;
}

.button-group {
  gap: 10px;
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.btn {
  height: 50px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #FFB703; 
  color: black;
}

.btn-primary:hover {
  background-color: #e0a102;
}

.btn-secondary {
  background-color: #0056B3; 
  color: white;
}

.btn-secondary:hover {
  background-color: #00408e;
}

.btn-danger {
  background-color: #f20909; 
  color: white;
}

.btn-danger:hover {
  background-color: #333333;
}

.image-preview {
  margin-top: 10px;
}

.record-image-preview {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin-top: 10px;
  border-radius: 8px; 
}
}