
/*login form*/

.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #faf7f7;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  font-weight: bold;
  color: #555;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f96302; 
    color: #fff;
    padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}
 
.error-text {
  color: red;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}
  
 
  